body {
  background-image: url(https://wallpaperaccess.com/full/3292327.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  height: 100vh;
  overflow: auto;
}

.dog-details {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #333;
    border: 2px solid #888;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: perspective(600px) rotateX(2deg);
    max-width: 400px;
    margin: 0 auto;
  }
  
  .detail-row {
    margin-bottom: 10px;
  }
  
  .detail-label {
    font-weight: bold;
    color: #fff;
    font-size: 18px;
  }
  
  .detail-value {
    margin-left: 10px;
    color: #ddd;
    font-size: 16px;
  }
  
  .detail-value:last-child {
    margin-bottom: 0;
  }
  
  .detail-row:nth-child(odd) {
    background-color: #222;
  }
  
  .detail-row:last-child {
    margin-bottom: 0;
  }